<div class="top">
    <span>
        <i class="fa-solid fa-clapperboard"></i>&nbsp;
        <a href="/">
            <span class="title">Movies App</span>
        </a>
        <span></span>
    </span>    
</div>